body {
    background-color: black;
    color: white;
}

/* Quiz Section */
#section {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 700px;
    height: 400px;
    justify-content: space-around;
    outline: 4px dotted yellow;
}

#title {
    border-bottom: 2px solid grey;
    text-align: center;
    display: inline-block;
}

#section button {
    justify-content: center;
    row-gap: 10px;
    width: 40%;
    height: 10%;
    margin: 0 auto;
    color: white;
    background-color: purple;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background: lightblue;
    color: black;
}
button p {
    margin: 0 auto;
}

#right-or-wrong {
    position: absolute;
    top: 400px;
    font-style: italic;
    font-size: 20px;
    color: blue;
    display: none;
    font-weight: bold;
}


#timer {
    display: inline-block;
    outline: 2px solid red;
    margin-top: -20px;
    margin-bottom: -5px;
}

/* Home Page section */
#home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 6px solid yellow;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
    margin: 0 auto;
    width: 60%;
    height: 400px;
}

#home-page h1 {
    font-size: 30px;
}

#home-page p {
    color: white;
    font-size: 20px;;
}

#start-game-button, #high-scores-button {
    background-color: darkblue;
    color: white;
    width: 20%;
    height: 60px;
    font-size: 25px;
    position: relative;
    top: 100px;
    margin-bottom: 20px;
    border-radius: 5px;
}

/* High Scores section */
#high-scores {
    display: none;
    flex-direction: column;
    text-align: center;
}

#go-back-button {
    border: 3px solid white;
}

#end-page {
    display: none;
    flex-direction: column;
    text-align: center;
    color: white;
}

#score {
    color: white;
    border: 2px solid red;
    font-size: 20px;;
}

#high-score-record {
    display: none;
}